
body{
    color: #2B3030;
    margin:0;
    background:-webkit-linear-gradient( #e6e6fa, #ffa07a)
}
.album1 {
    padding:5%;
    margin-top:5%;
}
.album2 {
    flex-direction: row-reverse;
    padding:5%;
}
.album3 {
    padding:5%;
}

.btn{
    color: #2B3030;
    border-color: #2B3030;
    width: 100%;
    margin-top:2%;
}
p {
    font-size: 22px;
}
li {
    font-size: 22px;
}
.img-fluid{
    display: block;
    width: 80%;
    margin:auto;
}
.fixed-top{
    background: #EBEBFF;
    display:block;
}
h1 {
    color: #fadbe8;
    font-size: 2em;
    text-align: center; 

}
