
body{
    color: #2B3030;
    margin:0;
    background:-webkit-linear-gradient( #e6e6fa, #ffa07a);
    font-family: 'Lato', sans-serif;
}
.album1 {
    padding:5%;
    margin-top:5%;
}
.album2 {
    flex-direction: row-reverse;
    padding:5%;
}
.album3 {
    padding:5%;
}


.btn{
    color: #2B3030;
    border-color: #2B3030;
    width: 100%;
    margin-top:2%;
}
p {
    font-size: 22px;
}
li {
    font-size: 22px;
}
.golf{
    display: block;
    width: 80%;
    margin:auto;
    position:absolute;
}
.jumbotron{
    background: transparent;
    height:600px;
}
h2{
    font-family: 'Raleway', sans-serif;
    margin-top:15px;
}
@media screen and (max-width: 480px) {
.golf{
    display: block;
    width: 80%;
    margin:auto;
    position:absolute;
    margin-top: 350px
} 
.jumbotron{
    height:800 px;
}