
body{
    color: #2B3030;
    margin:0;
    background:-webkit-linear-gradient( #fffcdc,lavender, lightsalmon)
}
.album1 {
    padding:5%;
    margin-top:5%;
}
.album2 {
    flex-direction: row-reverse;
    padding:5%;
}
.album3 {
    padding:5%;
}

.btn{
    color: #2B3030;
    border-color: #2B3030;
    width: 100%;
    margin-top:2%;
}
e2e2e2 